<div class="center hero-unit">
  <h1>Welcome to Rails Starter</h1>
  <h2>
    This is based on
    <a href="http://railstutorial.org/" target:"_blank">Ruby on Rails Tutorial</a>
    <p>On Github:
    <%= link_to image_tag("github-mark-32px.png", alt: "Github"), 'https://github.com/benfreeman/rails_starter' %>
    </p>
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %><br>
  <%= link_to image_tag("rails.png", alt: "Rails", width:"32px", class: "pull-right"), 'http://rubyonrails.org/' %>
</div>
